CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_gehua_ghl-r-001=y
# CONFIG_PACKAGE_appfilter is not set
# CONFIG_PACKAGE_autosamba is not set
CONFIG_PACKAGE_bind-dig=y
# CONFIG_PACKAGE_dnscrypt-proxy2 is not set
CONFIG_PACKAGE_e2fsprogs=m
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_fdisk=m
CONFIG_PACKAGE_redis-server=m
# CONFIG_PACKAGE_luci-app-accesscontrol is not set
# CONFIG_PACKAGE_luci-app-adbyby-plus is not set
CONFIG_PACKAGE_luci-app-adguardhome=y
# CONFIG_PACKAGE_luci-app-ddns is not set
CONFIG_PACKAGE_luci-app-dnscrypt-proxy2=m
CONFIG_PACKAGE_luci-app-dnscrypt-proxy2_INCLUDE_minisign=m
# CONFIG_PACKAGE_luci-app-dockerman is not set
CONFIG_PACKAGE_luci-app-fileassistant=y
# CONFIG_PACKAGE_luci-app-ipsec-vpnd is not set
CONFIG_PACKAGE_luci-app-mosdns=y
# CONFIG_PACKAGE_luci-app-nlbwmon is not set
# CONFIG_PACKAGE_luci-app-oaf is not set
# CONFIG_PACKAGE_luci-app-passwall is not set
# CONFIG_PACKAGE_luci-app-samba4 is not set
CONFIG_PACKAGE_luci-app-smartdns=y
# CONFIG_PACKAGE_luci-app-ssr-plus is not set
# CONFIG_PACKAGE_luci-app-unblockmusic is not set
CONFIG_PACKAGE_luci-app-upnp=y
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
CONFIG_PACKAGE_luci-app-wol=y
# CONFIG_PACKAGE_luci-app-zerotier is not set
# CONFIG_PACKAGE_luci-theme-argon is not set
# CONFIG_PACKAGE_luci-theme-argon-mod is not set
CONFIG_PACKAGE_luci-theme-argonne=y
CONFIG_PACKAGE_luci-theme-atmaterial_new=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
# CONFIG_PACKAGE_luci-theme-design is not set
# CONFIG_PACKAGE_luci-theme-edge is not set
# CONFIG_PACKAGE_luci-theme-ifit is not set
# CONFIG_PACKAGE_luci-theme-material is not set
CONFIG_PACKAGE_luci-theme-netgear=y
# CONFIG_PACKAGE_luci-theme-opentopd is not set
# CONFIG_PACKAGE_luci-theme-tomato is not set
