name: mosdns-conf

on:
  workflow_dispatch:

  schedule:
    - cron: 0 */4 * * *

jobs:
  update-mosdns-conf:
    runs-on: ubuntu-latest
    steps:
      - name: Step 1 - Checkout
        uses: actions/checkout@v4
      - name: Step 2 - Setup Go environment
        uses: actions/setup-go@v5
        with:
          check-latest: true
          go-version: '>=1.18.0'
      - name: update-mosdns-conf
        run: |
          sudo bash diy/update-mosdns-conf.sh
      - name: Push
        id: mod-push
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update
          skip_dirty_check: false
          commit_user_name: Action Bot
          commit_user_email: 41898282+github-actions[bot]@users.noreply.github.com
          commit_author: Action <actions@github.com>
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 3
          keep_minimum_runs: 3
